.main-view-container {
    padding: 20px;
    background-color: rgb(227, 232, 233);
    height: 100%;

    display: grid;
    gap: 20px 10px;
    grid-column-gap: 70px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(auto, 235px));
    justify-content: flex-start;
}