<form [formGroup]="form" *ngIf="form" class="form-class">

    <div class="name-container">
        <input type="text"
        class="form-control-name"
        formControlName="tableN"
        >
        <button *ngIf="table.id !== 1" class="delete-button" (click)="deleteTable()">Delete</button>
    </div>

    <ng-container formArrayName="fields">
        <ng-container *ngFor="let fieldForm of fields.controls; let i = index;">
            <div class="field-form-row" [formGroupName]="i">
                <input type="text" [formControlName]="'name'" class="field-name" [id]="i">
                <select [formControlName]="'type'">
                    <option *ngFor="let option of typeOptions" [value]="option.value">{{option.value}}</option>
                </select>
                <div>
                    <label for="nullable">null?</label>
                    <input name="nullable" type="checkbox" [formControlName]="'nullable'" class="field-check">
                </div>
                <select [formControlName]="'indexType'">
                    <option *ngFor="let option of indexOptions" [value]="option.value">{{option.value}}</option>
                </select>
                <i *ngIf="i !== 0" class="fa-solid fa-trash" (click)="deleteField(i)"></i>
            </div>
        </ng-container>
    </ng-container>

    <div class="form-row">
        <button class="add-field" (click)="addField()">Add Field</button>
    </div>
  </form>